body {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(eye.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

.form {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.7);
    border-radius: 20px;
}

.form h1 {
    margin: 40px 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
}

.input-form {
    margin: 15px 40px;
    text-align: center;
}

.input-form input {
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 25px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
}

.radio {
    margin: 15px 40px;
    text-align: left;
    padding: 10px;
    font-size: 25px;
    color: #fff;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
}

.radio label[id="g"]{
    margin-right: 100px;
}

.radio label{
    margin-right: 70px;
}

.input-form input[type="text"]:focus, .input-form input[type="password"]:focus {
    border: 1px solid #0fc3f5;
}

.input-form input[type="date"]:focus, .input-form input[type="tel"]:focus, .input-form input[type="file"]:focus{
    border: 1px solid #0fc3f5;
}

.radio:focus{
    border: 1px solid #0fc3f5;
}

.input-form input[type="date"] {
    color: #fff;
}

.input-form input[type="submit"] {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #0fc3f5;
    transition: .3s;
    padding: 20px;
}

.input-form input[type="submit"]:hover {
    background: #4442db;
}

.input-form {
    margin: 15px 40px;
    text-align: center;
}

.forgot input {
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 22px;
    background: none;
    outline: none;
    box-sizing: border-box;
    border: none;
    transition: .3s;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.forgot input[type="submit"]:hover {
    background: #4442db;
}

.password {
    margin: 15px 40px;
    text-align: center;
    position: relative;
}
#password-input {
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 25px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;

}

.password-control {
    position: absolute;
    top: 11px;
    right: 12px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(view.svg) 0 0 no-repeat;
}
.password-control.view {
    background: url(no-view.svg) 0 0 no-repeat;
}

#error{
    color: #ff3860;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: -10px;
    visibility: hidden;
}

